<html>

<head>
  <title>{{ title }}</title>
  <style>
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  </style>
</head>

<body>
  {{ for page of pages }}
  <img loading="lazy" src="./{{ page }}">
  {{ /for }}
</body>

</html>