<html>

<head>
  <title>{{ title }}</title>
  <style>
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  </style>
</head>

<body>
  <ul>
    {{ for category of categories }}
    <li>
      <a href="./article/{{ category.title }}/">{{ category.title }}</a>
    </li>
    {{ /for }}
  </ul>
</body>

</html>
